/*
  Init
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}


/*
  Layout
 */

 :root {
  --w-all: 800px;
  --w-side: 240px;
  --h-header: 150px;
  --h-footer: 150px;
}

.cv-container {
  width: var(--w-all);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr var(--w-side);
  grid-template-rows:
    var(--h-header)
    minmax(calc(100vh - var(--h-header) - var(--h-footer)), auto)
    var(--h-footer);
  grid-template-areas:
    "header header"
    "main   side"
    "footer footer";
}

.cv-main   { grid-area: main; }
.cv-side   { grid-area: side; }
.cv-header { grid-area: header; }
.cv-footer { grid-area: footer; }

.cv-main,
.cv-header,
.cv-footer {
  padding: 0 30px;
}
.cv-side {
  padding: 0 10px;
  padding-top: 70px;
}


/*
  Colors
 */

:root {
  --color-main1: #fff;
  --color-main2: #f90;
  --color-main3: #222;
  --color-shadow: rgba(0,0,0,0.3);
  --color-outline: rgba(0,0,0,0.8);
}

.cv-page,
.cv-main { background-color: var(--color-main1); }
.cv-side { background-color: var(--color-main2); }

.cv-header,
.cv-footer {
  background-color: var(--color-main2);
  background-image: linear-gradient(to left,
    var(--color-main2),
    var(--color-main2) var(--w-side),
    var(--color-main1) 80%, var(--color-main1)
  );
}

.cv-container { box-shadow: 0 0 10px 0px var(--color-shadow); }


/*
  Fonts
 */

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
