/*
  Init
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}


/*
  Layout
 */

 :root {
  --w-all: 800px;
  --w-side: 240px;
  --h-header: 150px;
  --h-footer: 150px;
}

.cv-container {
  width: var(--w-all);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr var(--w-side);
  grid-template-rows:
    var(--h-header)
    minmax(calc(100vh - var(--h-header) - var(--h-footer)), auto)
    var(--h-footer);
  grid-template-areas:
    "header header"
    "main   side"
    "footer footer";
}

.cv-main   { grid-area: main; }
.cv-side   { grid-area: side; }
.cv-header { grid-area: header; }
.cv-footer { grid-area: footer; }

.cv-main,
.cv-header,
.cv-footer {
  padding: 0 30px;
}
.cv-side {
  padding: 0 10px;
  padding-top: 70px;
}


/*
  Colors
 */

:root {
  --color-main1: #fff;
  --color-main2: #f90;
  --color-main3: #222;
  --color-shadow: rgba(0,0,0,0.3);
  --color-outline: rgba(0,0,0,0.8);
  --outline: 0 0 0 2px var(--color-outline);
}

.cv-page,
.cv-main { background-color: var(--color-main1); }
.cv-side { background-color: var(--color-main2); }

.cv-header,
.cv-footer {
  background-color: var(--color-main2);
  background-image: linear-gradient(to left,
    var(--color-main2),
    var(--color-main2) var(--w-side),
    var(--color-main1) 80%, var(--color-main1)
  );
}

.cv-container { box-shadow: 0 0 10px 0px var(--color-shadow); }


/*
  Fonts
 */

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


/*
  Header
 */

.cv-header {
  position: relative;
  display: flex;
  align-items: center;
}

.cv-my__name {
  display: inline-block;
  margin: 0;
  font-size: 70px;
  font-weight: 900;
  background-color: var(--color-main2);
  background-image:
    repeating-linear-gradient(45deg,
      transparent,
      transparent 5px,
      var(--color-shadow) 5px,
      var(--color-shadow) 10px
    ),
    linear-gradient(90deg,
      var(--color-main2),
      var(--color-main3)
    );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

.cv-my__photo {
  position: absolute;
  right: 60px;
  top: 10px;
  margin: 0;
  padding: 7px;
  border-radius: 50%;
  box-shadow: var(--outline);
}

.cv-my__photo img {
  display: block;
  border-radius: 50%;
  box-shadow: var(--outline);
  transition: transform 2s ease;
}

.cv-my__photo img:hover {
  transform: rotate(-360deg);
}


/*
  Footer
 */

.cv-footer {
  display: flex;
  justify-content: space-between;
}

.cv-contacts { width: 200px; }
.cv-rsschool { width: 300px; }
.cv-update   { width: 140px; }

.cv-footer h2 {
  padding: 3px 10px;
  text-align: center;
  font-size: 1.3em;
  box-shadow: var(--outline);
}

.cv-contacts__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.cv-contacts__link img {
  height: 50px;
  transition: transform 0.2s ease-in-out;
}

.cv-contacts__link img:hover {
  transform: scale(1.1) rotate(-10deg);
}

.cv-rsschool {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  border-radius: 20px;
  background-image:
    repeating-linear-gradient(135deg,
      transparent,
      transparent 5px,
      var(--color-shadow) 5px,
      var(--color-shadow) 10px
    ),
    linear-gradient(135deg,
      var(--color-main2),
      var(--color-main1)
    );
  box-shadow: inset 0 0 10px 0 var(--color-outline);
}

.cv-rsschool__link img {
  height: 70px;
  transition: transform 0.2s ease-in-out;
}

.cv-rsschool__link img:hover {
  transform: scale(1.1) rotate(-5deg);
}

.cv-update {
  text-align: center;
}

.cv-update__date {
  font-size: 30px;
  font-weight: 300;
}


/*
  Side
 */

 .cv-side h2 {
  display: inline-block;
  margin-left: -25px;
  padding: 3px 10px;
  font-size: 1.3em;
  box-shadow: var(--outline);
}
.cv-side h3 {
  margin: 5px;
  padding: 2px 6px;
  font-size: 1em;
  font-weight: 300;
  color: var(--color-main2);
  background-color: var(--color-main3);
}
.cv-side ul {
  list-style: none;
}

/* Side: Skills */

.cv-category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cv-category__item {
  display: block;
}

.cv-category__item img {
  height: 40px;
  transition: transform 0.1s ease-in-out;
}

.cv-category__item img:hover {
  transform: rotate(10deg) scale(1.1);
}

